@using UTB.Eshop.Web.Areas.Admin.Controllers
@model Complain
@{
    ViewData["Title"] = "Complain Edit";
}
<h1>@ViewData["Title"]</h1>

<p>This page edits Complain.</p>

@{
    ViewBag.Action = nameof(ComplaintShowController.Edit);
}

<partial name="CreateEditForm" model="Model">